{% extends 'layouts/base.html' %}


{% block content %}

<article class="page">
<h1 class="page-title"> {{ title }}</h1>
{{ content | safe}}
</article>

<nav class="filters">
  {# Set for all #}
  {% set postslist = collections.projects %}

    <label>Type:</label>
    <ul class="button-group" data-filter-group="project-type">
      <li><button class="is-checked" data-filter="">All</button></li>
      {% for project_type in postslist | uniqueTypes %}
        <li><button href="#" class="filter-button" data-filter=".{{ project_type }}">{{ project_type }}</button></li>
      {% endfor %}
    </ul>
    
    <label>Media:</label>
    <ul class="button-group" data-filter-group="media">
      <li><button class="is-checked" data-filter="">All</button></li>
    {% for media in postslist | uniqueMedia %}
      <li><button href="#" class="filter-button" data-filter=".{{ media }}">{{ media }}</button></li>
    {% endfor %}
    </ul>  

</nav>

<ul class="timeline">
 
  {% for post in postslist %}
    
       {% include "partials/project-card.njk" %}

  {% endfor %}
</ul>

<p class="no-results">Nothing found! Try changing filters.</p>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="/js/isotope-setup-min.js"></script>

{% endblock %}


