{% extends 'layouts/base.njk' %}


{% block content %}

<article class="page">
<h1 class="page-title"> {{ title }}</h1>
{{ content | safe}}
</article>

{# Set for all #}
{% set postslist = collections.projects | reverse %}

{# FILTER BUTTONS #}
<nav class="filters">
    <div class="filter-item">
      <span>Type:</span>
      <ul class="button-group" data-filter-group="project-type">
      <li><button class="is-checked" data-filter="" tabindex="0">All</button></li>
      {% for project_type in postslist | uniqueTypes %}
        <li><button href="#" class="filter-button {{ project_type | slug }}" data-filter=".{{ project_type | slug }}" tabindex="0">{{ project_type }}</button></li>
      {% endfor %}
    </ul>
    </div>
    
    <div class="filter-item">
      <span>Media:</span>
      <ul class="button-group" data-filter-group="media">
        <li><button class="is-checked" data-filter="" tabindex="0">All</button></li>
      {% for media in postslist | uniqueMedia %}
        <li><button href="#" class="filter-button {{ media | slug }}" data-filter=".{{ media | slug }}" tabindex="0">{{ media }}</button></li>
      {% endfor %}
      </ul>  
    </div>
</nav>

{# PROJECT TIMELINE #}
<ul class="timeline">
 
 <li class="project-sizer"></li>

  {%- for post in postslist -%}
    
       {% include "partials/project-card.njk" %}

  {%- endfor -%}
</ul>

<div class="no-results">
  <h2>Nothing found!</h2>
  <p>Try changing filters.</p>
</div>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="/js/cells-by-row-min.js"></script>
<script src="/js/isotope-setup-min.js"></script>

{% endblock %}


