{% extends 'layouts/base.html' %}


{% block content %}

<article class="page">
<h1 class="page-title"> {{ title }}</h1>
{{ content | safe}}
</article>

<nav class="timeline-filter">
  {# Set for all #}
  {% set postslist = collections.projects %}
  
    <button class="is-checked" data-filter="*">All</button>
    {% for project_type in postslist | uniqueTypes %}
      <button href="#" class="filter-button" data-filter=".{{ project_type }}">{{ project_type }}</button>
    {% endfor %}
    {% for media in postslist | uniqueMedia %}
      <button href="#" class="filter-button" data-filter=".{{ media }}">{{ media }}</button>
    {% endfor %}

</nav>

<ul class="timeline">
 
  {% for post in postslist %}
    
       {% include "partials/project-card.njk" %}

  {% endfor %}
</ul>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="/js/isotope-setup-min.js"></script>

{% endblock %}


