---
layout: 'layouts/home.html'
---
{# HERO #}
<section class="hero">
    <div class="hero-text">

        {# Basic buttondown shirt #}
        <p class="active">I'm an interdisciplinary artist and designer, but mostly I love playing with technology and telling stories that imagine new worlds.</p>
        
        {# Tie, blazer, glasses #}
        <p>I teach at Penn State University, primarily with the online <a href="https://dmd.psu.edu">Digital Multimedia Design</a> program, which connects students around the world through interdisciplinary project-based learning.</p>

        {# Sunglesses #}
        <p>I tell stories with audio, video, websites, branding, illustration, interactive media, workshops, writing, and more — and I make it look good.</p>

        {# Chronoecologist #}
        <p>My artwork uses technology and narrative storytelling to reimagine the world and explore the gaps between fact and fiction.</p>

        {# Foggy bottom vest OR astronaut #}
        <p>I'm a ScFi geek who also loves conceptual art and fonts.</p>

        <button class="button-lrg shadow-button" id="generate-bio">Generate new bio</button>
    </div>
    
<div class="hero-art">
    <figure class="blob">
        <img src="/assets/blob-red.svg">
        <figcaption>Artist</figcaption>
    </figure>
    <figure class="blob">
        <img src="/assets/blob-teal.svg">
        <figcaption>Designer</figcaption>
    </figure>
    <figure class="blob">
        <img src="/assets/blob-purple.svg">
        <figcaption>Educator</figcaption>
    </figure>
</div>
</section>

{############  PROJECTS ##############}
<section class="featured-projects base-grid">
    <h2 class="banner title-right">Projects</h2>

    {# Set for all #}
    {% set postslist = collections.featuredProjects %}
    <ul class="featured-projects-list card-list horizontal-scroll">
    {% for post in postslist %}
    {# {% for post in postslist|featuredProject(true) %} #}

        {# Limit to three projects #}
        {# {% if loop.index0 < 3 %} #}
        {% include "partials/project-card.njk" -%}
        {# {% endif %} #}
    {% endfor %}

    </ul>
    <a class="project-cta button button-lrg shadow-button" href="/projects">View all projects</a>
</section>

{############  BLOG ##############}
<section class="featured-blog base-grid">

    <h2 class="banner title-left">The Latest</h2>

    <ul class="featured-blog-list">
        {# Set for all #}
    {% set bloglist = collections.posts %}
 {% for post in bloglist %}
    {# Limit to two projects #}
    {% if loop.index0 < 2 %}
        {% include "partials/post-card.njk" -%}
    {% endif %}
  {% endfor %}
    </ul>

    <aside class="featured-pick">
         <h3>Cool Picks</h3>
         <p class="pick-intro">Banjo cronut bitters keytar direct trade coloring book raw denim slow-carb pinterest kickstarter. </p>
        {%- for pick in collections.cool.slice(0,1) -%}
            {{ pick.templateContent | safe }}
        {%- endfor -%}
        <a class="pick-archive"href="#">Previous cool picks</a>
    </aside>
</section>

{############  DESIGN ##############}

<section class="featured-design base-grid">
    <h2 class="banner title-right">Services</h2>
        <aside class="design-gallery">
            {% img '2017/centre-can.png', 'Intersecting hexagons in a rainbow of colors; a title reading Centre County Civic Action Network' %}
            {% img '2018/marc-swag.jpg', 'Political flyers, buttons, and stickers on a table' %}
            {% img '2021/haira-mockup.jpg', 'Two stacks of business cards with an h-shaped logo for the Hub for AI Research in Archives' %}
            {% img '2018/caesar-promo-50.jpg', 'Logo and illustration for spacecraft landing on a comet' %}
        </aside>
        <div class="service">
            <h3>Graphic Design</h3>
            <img src="/assets/service-design.svg" alt="illustration of paper and pencil">
            <ul>
                <li>Logos</li>
                <li>Campaign branding</li>
                <li>Print design</li>
            </ul>
        </div>
        <div class="service">
            <h3>Websites</h3>
            <img src="/assets/service-web.svg" alt="illustration of website and smartphone">
            <ul>
                <li>Bespoke Wordpress themes</li>
                <li>Static sites and landing pages</li>
                <li>Design and development together</li>
            </ul>
        </div>
        <a class="button button-lrg shadow-button" href="/contact">Get in touch</a>
</section>


<script src="js/home-min.js"></script>