---
layout: 'layouts/home.html'
---
{# HERO #}
<section class="hero">
    <div class="hero-text">
        <p>I'm baby squid four loko air plant, mixtape direct trade tote bag viral organic before they sold out pabst austin vice kombucha street art slow-carb.</p>
    </div>
    
<div class="hero-art">
    <figure class="blob">
        <img src="/assets/blob-red.svg">
        <figcaption>Artist</figcaption>
    </figure>
    <figure class="blob">
        <img src="/assets/blob-teal.svg">
        <figcaption>Designer</figcaption>
    </figure>
    <figure class="blob">
        <img src="/assets/blob-purple.svg">
        <figcaption>Educator</figcaption>
    </figure>
</div>
</section>

{# PROJECTS #}
<section class="feat-projects base-grid">
<h2 class="banner title-right">Projects</h2>

{# Set for all #}
{% set postslist = collections.featuredProjects %}
<ul class="feat-projects-list card-list">
 {% for post in postslist %}
    {# Limit to three projects #}
    {% if loop.index0 < 3 %}
       {% include "partials/project-card.njk" -%}
    {% endif %}
  {% endfor %}

</ul>
<a class="project-cta button button-lrg">View all projects</a>
</section>

<section class="feat-blog base-grid">

    <h2 class="banner title-left">The Latest</h2>

    <ul class="feat-blog-list">
        {# Set for all #}
{% set bloglist = collections.posts %}
 {% for post in bloglist %}
    {# Limit to three projects #}
    {% if loop.index0 < 2 %}
        {% include "partials/post-card.njk" -%}
    {% endif %}
  {% endfor %}
    </ul>

    <aside class="cool-picks">
         <h3>Cool Picks</h3>
         <p>Banjo cronut bitters keytar direct trade coloring book raw denim slow-carb pinterest kickstarter. </p>
         <ul class="cool-list">
            <li>Art party seitan adaptogen post-ironic VHS. Literally flexitarian pok pok, man bun normcore wolf YOLO hoodie iPhone. </li>
            <li>Pork belly before they sold out tilde dreamcatcher meh blue bottle marfa brooklyn man braid lumbersexual.</li>
            <li>Art party seitan adaptogen post-ironic VHS. Literally flexitarian pok pok, man bun normcore wolf YOLO hoodie iPhone. </li>
            <li>Pork belly before they sold out tilde dreamcatcher meh blue bottle marfa brooklyn man braid lumbersexual.</li>
         </ul>
      
    </aside>
</section>



