// Blog page
.post-item {
    border-bottom: 1px solid $light-gray;
    padding-bottom: $unit-med;
    margin-bottom: $unit-med;

    p {line-height: 1.35;}
    
    &:last-of-type {
      border-bottom: none;
    }
  }

  // Blog page only
  .blog .post-item {
    display: flex;
    flex-direction: column;
    margin-top: $unit-lrg;
    
  }
  
  .post-image {
    max-width: 100%;
    img { max-width: 100%; }
  }
  
  .post-item {
    time, .post-category { 
      font-family: $mono-font; 
      font-size: $small-font-size; }
  }

  .post-title { 
    font-size: clamp($h4-size, 5vw, $h3-size);
    line-height: 1;
    margin: $unit-med 0;
    display: block;
  }
  .post-category { 
    text-transform: uppercase;
    margin-right: $unit-med;
    color: $light;
    padding: $unit-sml;
  
    
    &.tutorials {
      background-color: var(--tertiary);
    }
    &.news {
      background-color: var(--secondary);
    }
    &.criticism {
      background-color: var(--accent);
    }
  }
  .post-description {
    display: block;
    margin-top: $unit-med;
  }
  
  @include breakpoint(med) {
    .blog .post-item {
      flex-direction: row;
      .post-image { 
        margin-right: $unit-med;
        margin-bottom: 0;
        max-width: 30ch;

        img {
          aspect-ratio: 4 / 3;
          object-fit: cover;
          width: 100%;
        }
       
       }
    }
  }
  