.pick-intro {
    color: var(--element-secondary);
}

.pick-month { font-weight: bold; }

.cool-pick ul li {
    margin-bottom: $unit-med;
}

.cool-picks-archive section {
    padding-bottom: $unit-lrg;
}

