// ARCHIVE PAGE


.boxed {
    display: inline-block;
    font-family: $mono-font;
    text-transform: uppercase;
    margin-bottom: $unit-med;
    padding: $unit-sml;
    border: 1px solid var(--element-subtle);
}

.cool-pick .boxed {
    transform: rotate(-2deg);
}

