$squishy-margin: clamp($unit-med, 5vw, 5rem);
$header-height: clamp(6rem, 9vw, 9rem);

//////////////// BASE GRID ///////////////////

section.base-grid {
    padding: 0;
    margin-bottom: clamp(3rem, 20vh, 20rem);
    display: grid;
    grid-template-columns: $unit-med 1fr $unit-med;
    gap: clamp($unit-med, 3vw, $unit-lrg);

    @include breakpoint(med) {
        grid-template-columns: $squishy-margin 1fr 1fr $squishy-margin;
    }
    @include breakpoint(lrg) {
        grid-template-columns: $squishy-margin 1fr 1fr 1fr $squishy-margin;
        * { grid-column: auto; }
    }
    @include breakpoint(xl) {
        grid-template-columns: $squishy-margin 1fr .5fr .5fr 1fr $squishy-margin;
    }
}

section.base-grid > * { grid-column: 2 / 3; } 

// HEADINGS
section.base-grid .banner {
    font-size: clamp($h1-size, 5vw, $jumbo-size);
    color: $light;
    text-align: center;
    // min-height: 100%;
    padding: 2rem;
    margin: 0;
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    @include breakpoint(lrg) {
        grid-row: 1 / 2;
        
        &.title-right { 
            grid-column: 3 / 6;
            padding-left: 5vw;
            justify-content: flex-start;
        }
        &.title-left { 
            grid-column: 1 / 4;
            padding-right: 5vw;
            justify-content: flex-end;
         }
    }
    @include breakpoint(xl) {
        &.title-right { grid-column: 3 / 7;}
        &.title-left { grid-column: 1 / 5;}
    }
    
}


.hero {
    display: flex;
    flex-direction: column;
    padding-bottom: $unit-xxl;
    padding-top: 0;
    margin-top: -5rem;
    margin-bottom: $unit-xl;
    overflow-x: clip;
}

.hero-text {
    order: 2;
    display: grid;
    grid-template-rows: 23rem auto;
    position: relative;
    p {
        display: none;
        font-size: clamp($h4-size, 2.75vw, $h2-size);
        line-height: 1.2;
        max-width: 40ch;
        // margin: $unit-lrg auto; // Need this?
        align-self: center;
        &.active { display: block; }
    }
}


.hero-art {
    order: 1;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    // transform: translateY(-7rem);
}

@include breakpoint(med) {
    .hero { flex-direction: row; margin-top: 3rem; }
    .hero-text { 
        order: 1; 
        flex: 1; 
        grid-template-rows: 33rem auto;
    }
    .hero-art { order: 2; flex: 1.75; max-height: 30rem; }
}


.blob:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.blob:nth-of-type(2) {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}
.blob:nth-of-type(3) {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

@keyframes roll {
    0% { transform:translate(0px,0px) rotate(0deg);}
    50% {transform:translate(5vw,5vw) rotate(180deg);}
    100% {transform:translate(0px,0px) rotate(360deg); }
}

@keyframes wiggle {
    0% { transform:translate(0px,0px) rotate(0deg);}
    50% {transform:translate(5vw,5vw) rotate(10deg);}
    100% {transform:translate(0px,0px) rotate(0deg); }
}

@keyframes wiggle-reverse {
    0% { transform:translate(0px,0px) rotate(0deg);}
    50% {transform:translate(5vw,5vw) rotate(-16deg);}
    100% {transform:translate(0px,0px) rotate(0deg); }
}

@keyframes appear {
    from { transform: translateY(15rem) scale(0); }
    to { transform: translateY(0rem) scale(1); }
  }

.blob {
    display: grid;
    place-content: center;
    transform: scale(0);

    img, figcaption {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    figcaption {
        place-self: center;
        font-family: $mono-font;
        mix-blend-mode: multiply;  
        font-size: clamp($base-font-size, 3vw, $h5-size);
    }

    img {
        width: clamp(200px, 40vw, 450px);
        transform-origin: 50% 50%;
        mix-blend-mode: multiply;  
    }
}

:root[color-mode="dark"] { .blob img, .blob figcaption { mix-blend-mode: normal; } }

.blob:nth-of-type(1) {
    animation: appear 0.35s forwards ease-in;
    img { 
        animation: roll 15s linear infinite;
     }
    figcaption { 
        animation: wiggle 15s linear infinite;
        color: var(--primary-emphasis);
     }
}
.blob:nth-of-type(2) {
    animation: appear 0.35s 0.25s forwards ease-in;
    img { animation: roll 8s linear infinite reverse; }
    figcaption { 
        animation: wiggle-reverse 8s linear infinite reverse;
        color: var(--secondary);
     }
}
.blob:nth-of-type(3) {
    animation: appear 0.35s .65s forwards ease-in;
    img { animation: roll 18s linear infinite reverse; }
    figcaption { 
        animation: wiggle 8s linear infinite reverse;
        color: var(--tertiary-emphasis);
     }
}



////////////// FEATURED PROJECTS ////////////////

section.featured-projects {
    padding: 0;

    @include breakpoint(lrg) {
        grid-template-rows: $header-height auto auto 16rem;
    }
    @include breakpoint(xl) {
        grid-template-rows: $header-height 2fr 1fr 1fr;
    }

    h2 { 
        background: var(--primary);
        width: 100%;
        padding: $unit-med;
    }

    .button {
        margin: $unit-med auto;
        position: relative;
        display: block;
        z-index: 2;
    }
}



section.featured-projects .card-list {
    grid-column: 1 / -1;
    // margin-left: -1rem;
    .card { 
        width: calc(100% - 5rem);
        &:nth-of-type(1) {margin-left: $unit-med; }
        .project-meta { display: none; }
    }
}

@include breakpoint(med) {
    section.featured-projects .card-list {
        display: contents;

        .card { 
            margin-right: 0;
            width: auto;
            max-width: 100%;
            &:last-of-type { margin-right: $unit-med; }
         }
        .card:nth-of-type(1) {
            grid-column: 2 / 4;
        }
        .card:nth-of-type(2) {
            grid-column: 2 / 3;
        }
        .card:nth-of-type(3) {
            grid-column: 3 / 4;
        }
    }
    section.base-grid .project-cta {
        grid-column: 2 / 4;
        place-self: center;
    }
    section.featured-projects .card-list .card {
        &:first-of-type {
            position: relative;
            margin-bottom: $unit-lrg + $unit-med;
    
            .project-text {
                position: absolute;
                bottom: -$unit-lrg;
                left: -$unit-lrg;
                width: min(700px, 85%);
                background: var(--surface-emphasis);
                box-shadow: $shadow;
            }
        }
        // &:nth-of-type(2), &:nth-of-type(3) {
        //     margin-top: 4rem;
        // }
    }
} // end med

@include breakpoint(lrg) {
    section.featured-projects .card-list {
        .card:nth-of-type(1) {
            grid-column: 2 / 4;
            grid-row: 2 / 4;
            margin-bottom: 0;
            
            .project-text {
                bottom: 0;
                left: 0;
            }
            .featured-image {
                min-height: 100%;
                img { 
                    min-height: 100%;
                    object-fit: cover;
                }
            }
        }
        .card:nth-of-type(2) {
            margin-top: 0;
            grid-column: 4 / 5;
            grid-row: 2 / 3;
        }
        .card:nth-of-type(3) {
            grid-column: 4 / 5;
            grid-row: 3 / 5;
            margin-right: 0;
            margin-top: 0;
        }
    }
    section.base-grid .project-cta {
        grid-column: 2 / 4;
        grid-row: 4 / 5;
        height: 3rem;
        line-height: 1;
    }
  
} // end lrg

@include breakpoint(xl) {
    section.featured-projects .card-list .card {
    &:nth-of-type(2), &:nth-of-type(3) {
        grid-column: 4 / 6;
        flex-direction: row;
        .featured-image {
            flex: 1;
            img {
                min-height: 100%;
                object-fit: cover;
               }
        }
        .project-text { flex: 1;}
            
    }
    &:nth-of-type(3) {
        grid-row: 3 / 5;
       
    }
   }
}





/////////////  BLOG STUFF //////////////////

section.featured-blog h2 {
    background-color: var(--tertiary);
}

section.featured-blog {

    .featured-blog-list {
        display: contents;

        .post-item { 
            max-width: 30rem;
            grid-column: 2/3;
         }
        
         .post-image img {
            max-height: $unit-xxxl;
         }
    }


    .featured-pick {
        position: relative;
        border: 2px solid var(--element-subtle);
        box-shadow: $shadow;
        padding: $unit-med;
        background-color: var(--surface-emphasis);
        transform: rotate(-2deg) translateY(-1rem);
        transition: transform .35s ease-in-out;
        transform-origin: center;

        &:hover {
            transform: rotate(0deg);
        }

        &:before {
            content:"";
            position: absolute;
            top: -2px; left: -2px; 
            background-color: var(--tertiary);
            height: 0.5rem;
            width: calc(100% + 4px);

        }

        h3 { margin-bottom: $unit-med; }

        .pick-intro, .pick-archive { 
            font-size: $small-font-size;
            line-height: 1.25;
         }

         ul li {
             margin-bottom: $unit-med;
             list-style: none;
         }

        .pick-archive { 
            margin-left: $unit-med;
        }
    }

    @include breakpoint(med) {
        .featured-blog {
            grid-template-rows: auto auto auto;
        }
        .featured-blog-list {
            .post-item:nth-of-type(1) {
                grid-column: 2 / 3;
                border: none;
            }
            .post-item:nth-of-type(2) {
                grid-column: 3 / 4;
     
            }
        }
        .featured-pick {
            grid-column: 2 / 4;
           
        }
    }
    @include breakpoint(lrg) {
        .post-item:nth-of-type(1) {
            grid-row: 2 / 4;
        }
        .post-item:nth-of-type(2) {
            grid-row: 2 / 4;
        }
        .featured-pick {
            grid-column: 4 / 5;
            grid-row: 2 /3;
        }

    }
    @include breakpoint(xl) {
        grid-template-rows: $header-height auto auto;

        .featured-blog-list {
            .post-item:nth-of-type(1) {
                grid-column: 2 / 3;
                grid-row: 2 / 4;
                border: none;
            }
            .post-item:nth-of-type(2) {
                grid-column: 3 / 5;
                grid-row: 2 / 4;
            }
        }
        .featured-pick {
            grid-column: 5 / 6;
            grid-row: 2 / 3;
        }
    }
} // end section


///////// DESIGN ///////////
section.featured-design {

    h2, .button { background-color: var(--secondary); }

    .service {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 { 
            margin-left: $unit-med; 
            margin-bottom: $unit-med;
        }
        img { max-width: 20ch; }
    }
}


.design-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: clamp($unit-sml, 2vw, $unit-med);
    margin-bottom: $unit-med;

    img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        width: 100%;
    }
}

@include breakpoint(med) {
    section.featured-design {
        .design-gallery {
            grid-column: 2 / 4;
        }
        .service:nth-of-type(1) {
           grid-column: 2 / 3;
        }
        .service:nth-of-type(2) {
            grid-column: 3 / 4;
         }
    }
}

@include breakpoint(lrg) {
    section.featured-design {
        .design-gallery {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            width: 125%;
            margin-left: -25%;
        }
        .service:nth-of-type(1) {
           grid-column: 3 / 4;
        }
        .service:nth-of-type(2) {
            grid-column: 4 / 5;
         }
        .button {
            grid-column: 3 / 5;
            justify-self: center;
        }
    }
}

@include breakpoint(xl) {
    section.featured-design {
        .service:nth-of-type(1) {
           grid-column: 3 / 5;
           align-self: center;
           justify-self: center;
        }
        .service:nth-of-type(2) {
            grid-column: 5 / 6;
            align-self: center;
            justify-self: center;
         }
        .button { grid-column: 3 / 6;}
    }
}






