body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  width: 100%;
  flex: 1 0 auto;
}

// For pages with centered content
article {
  max-width: 60ch;
  padding: $unit-med;
  margin: 0 auto;

  &.wide {
    max-width: 75ch;
  }
}

section {
  padding: clamp($unit-med, 5vw, 12rem);
}

.page-title {
  text-align: center;
}


// Footer
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: $unit-lrg;
  flex-shrink: 0;
  background-color: $light-gray;
}
