body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  width: 100%;
  flex: 1 0 auto;
}

// For pages with centered content
article {
  max-width: 60ch;
  padding: $unit-med;
  margin: 0 auto;

  &.wide {
    max-width: 75ch;
  }
}

section {
  padding: clamp($unit-med, 5vw, 12rem);
}

.page-title {
  text-align: center;
}


// Blog page
.post-item {
  padding: $unit-lrg $unit-med;
  display: flex;
  border-bottom: 1px solid $light-gray;
  &:last-of-type {
    border-bottom: none;
  }
}

.post-image {
  max-width: 30ch;
  margin-right: $unit-med;
}

.post-title h2 { 
  margin: 0 0 $unit-med;
}
.post-category { 
  text-transform: uppercase;
  margin-right: $unit-med;
  font-family: $mono-font;
  color: $light;
  padding: $unit-sml;
  font-size: $small-font-size;
  
  &.tutorial {
    background-color: var(--tertiary);
  }
  &.news {
    background-color: var(--secondary);
  }
  &.writing {
    background-color: var(--accent);
  }
}
.post-description {
  display: block;
  margin-top: $unit-med;
}

// Footer
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: $unit-lrg;
  flex-shrink: 0;
  background-color: $light-gray;
}
