body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  width: 100%;
  flex: 1 0 auto;
}

// For pages with centered content
article {
  max-width: 60ch;
  padding: $unit-med;
  margin: 0 auto;
}

.page-title {
  text-align: center;
}

// Homepage
.hero {
  width: 100%;
  margin: 0;
  display: grid;
  place-content: center;
  min-height: 50vh;
  background-color: $secondary;
}

// Blog page
.post-archive li {
  padding: $unit-med;
  display: flex;
  border-bottom: 1px solid $light-gray;
  &:last-of-type {
    border-bottom: none;
  }
  .post-title {
    flex: 1;
  }
  .post-date {
    flex: 1;
  }
  .post-description {
    flex: 2;
  }
}

// PROJECTS
.card {
  background-color: var(--surface-emphasis);
  display: flex;
  flex-direction: column;
  max-width: 45ch;
}

// Nav filters
.timeline-filter ul {
 display: flex;
 flex-direction: row;
 list-style: none;

 li { 
   margin: 0 $unit-sml;
   text-transform: capitalize;
   font-family: $mono-font;
   }
}

.project-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary);
  color: $light;
  padding: $unit-sml $unit-med;

  li:first-of-type {
    text-transform: uppercase;
  }
}

.project-meta,
.media-list {
  font-family: $mono-font;
}

.project-text {
  padding: $unit-med;
}

.project.art .project-meta {
  background-color: var(--primary);
}
.project.design .project-meta {
  background-color: var(--secondary);
}
.project.life .project-meta {
  background-color: var(--tertiary);
}

// Footer
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: $unit-lrg;
  flex-shrink: 0;
  background-color: $light-gray;
}
