nav.primary-nav, nav.footer-nav {
    width: 100%;

    .nav-item {
        margin: 0 $unit-sml $unit-sml;
        @include breakpoint(lrg) {
            margin: 0 clamp($unit-med, 3vw, $unit-lrg) $unit-sml;
        }
    }

    a.nav-link { 
        text-transform: uppercase;
    }
}

.nav-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: $unit-med 0 0;
}

nav.primary-nav {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto 1fr;
    padding: $unit-med;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;

    a { color: var(--element); }
    
    .nav-menu, .nav-menu * {
        transition: opacity .25s ease, max-height .25s ease, transform .15s ease;
    }
    .nav-menu {
        max-height: 0;
        opacity: 0;
        transform-origin: top;
        visibility: hidden;
        width: 100vw;

        * {
            text-align: center;
        }

        &.showMenu {
            visibility: visible;
            display: flex;
            opacity: 1;
            max-height: 1000px;   
            margin-left: -$unit-sml;
            padding: $unit-med;
            background: linear-gradient( var(--surface), var(--surface-shadow));

            .nav-item { text-align: center; }
          } 
    }
}


// Desktop menu
@include breakpoint(med) {
    nav.primary-nav, nav.footer-nav {
        grid-template-columns: auto 1fr;
    
    .nav-menu {
        opacity: 1;
        max-height: none;
        visibility: visible;
        flex-direction: row;
        align-content: center;
        padding: 0;
        width: auto;
    }

        .nav-item {
            height: 1rem; 

            a.nav-link { 
                font-size: $base-font-size;
                line-height: 1rem;
            }
        }
    }
    
    nav.primary-nav .nav-menu {
        .nav-item:first-of-type { margin-left: auto; }
        .nav-item:last-of-type { 
            margin: 0 $unit-med 0 auto;
        }
    }
}

@include breakpoint(xl) {
    nav.primary-nav { padding: 2rem $unit-med $unit-med; }
}

.site-title{
    font-size: clamp($h5-size, 3vw, $h4-size);
    line-height: 1;
    @include breakpoint(lrg) {
        margin-left: $unit-med;
    }
}

.nav-toggle {
    width: 7ch;
    padding: $unit-xsml;

    @include breakpoint(med) {
        display: none;
    }
}

// THEME TOGGLE BUTTON
:root[color-mode="light"] .light--hidden {
    display: none;
}

:root[color-mode="dark"] {
    .dark--hidden {
        display: none;
    }
    .light--hidden {
        background-color: var(--element);
        color: var(--surface);
    }

    .primary-nav a { color: var(--element); }
}

.color-mode__btn {
    font-size: $small-font-size;
    margin-top: -0.33rem;
    margin: 0 auto; 
    box-shadow: none;
    padding: .25rem 1rem .25rem .5rem;
}
.dark--hidden {
    background-color: var(--element);

    img { transform:translateY(-1.5px); }
}




// MOBILE TOGGLE

.nav-toggle .close { display: none; }