 .projects article {
   text-align: center;
   margin-bottom: $unit-lrg;
 }
 
 // Nav filters
  .filters {
    padding-top: $unit-med;

    @include breakpoint(lrg) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: var(--surface);
      box-shadow: 0 15px 15px -5px rgba(0,0,0,.1);
    }
  }

  .filter-item {
    display: grid;
    grid-template-columns: 6ch auto;
    margin-bottom: $unit-med;
    padding: 0 $unit-med 0 $unit-med;
  }

  .filter-item span { 
    margin-top: 0.25ch;
    margin-right: 1ch;
    text-align: right;
   }
  .filters ul {
   display: flex;
   flex-direction: row;
   list-style: none;
   flex-wrap: wrap;
  
   li { 
     text-transform: capitalize;
     font-family: $mono-font;
     }

    button {
        background-color: $dark-gray;
        border-radius: 0;
        outline: 1px solid var(--surface);
        font-weight: normal;
        padding: $unit-sml;
        font-size: $small-font-size;
        line-height: 1;

        &.is-checked {
            background-color: var(--element);
            color: var(--surface);
        }
    }

    button.art.is-checked { background-color: var(--primary); color: $light; }
    button.design.is-checked { background-color: var(--secondary); color: $light; }
    button.life.is-checked { background-color: var(--tertiary); color: $light;}
    
  }

    .card {
      background-color: var(--surface-emphasis);
      display: flex;
      flex-direction: column;
      max-width: 40ch;
      box-shadow: $shadow;
    }



  // TIMELINE
  $nudge-sml: 9rem;
  $nudge-lrg: 27rem;


  .projects ul.timeline {
    position: relative;
    z-index: 1;
    padding-bottom: $nudge-sml;
    max-width: 150ch;
    margin: -$unit-med auto 0;

    .project-sizer, .project { height: 90vh; }

    .project, .project-sizer {
      width: calc(100vw - 3rem);
      margin: $unit-med;
    }

  }

  // TWO COLUMNS
  @include breakpoint(med) {

    .projects ul.timeline { 
      background-image: url('/assets/timeline.svg'); 
      background-position: center;
      background-repeat: repeat-y;
      background-size: 44px;

      .project-sizer { height: 45rem; }
      .project, .project-sizer { width: calc(50% - 2rem); }

      .project { 
        height: auto; 
        &:nth-of-type(odd) {
          // transform: translateY($nudge-sml);
          margin-top: $nudge-sml;
        }
      }
    }
  }

  // THREE COLUMNS
  @include breakpoint(xl) {
    .projects ul.timeline { 
      // margin-top: -$unit-lrg;
      // padding-bottom: $nudge-lrg;
    
    .project-sizer { height: 55rem; }
    .project, .project-sizer { width: calc(33.33% - 2rem); }
   
    .project {
      &:nth-of-type(odd) { margin-top: inherit; }
      &:nth-of-type(3n+0) { margin-top: $nudge-lrg; }
     }

     } // end timeline
  }
  
  .project-meta {
    display: flex;
    flex-direction: row;
    padding: $unit-sml $unit-med;
  }

  .card .project-meta {
    background-color: var(--primary);
    color: $light;

    li:first-of-type {
      text-transform: uppercase;
      margin-right: $unit-med;
    }

    li:nth-of-type(2) {
      margin-left: auto;
      margin-right: 1ch;
    }
    .project-meta, .media-list {
      font-size: $small-font-size;
    }
  }
  
  .project-meta,
  .media-list {
    font-family: $mono-font;
    font-size: $small-font-size;
    line-height: 1.25;
  }
  
  .project-text {
    padding: $unit-med $unit-med $unit-lrg;

    .project-title {  
      display: inline-block;
      font-size: clamp($h4-size, 5vw, $h3-size);
      margin-bottom: $unit-med;
      line-height: 1;
      margin-bottom: $unit-sml;
     }
  }

  
  .project.art .project-meta {
    background-color: var(--primary);
  }
  .project.design .project-meta {
    background-color: var(--secondary);
  }
  .project.life .project-meta {
    background-color: var(--tertiary);
  }

  .no-results {
      display: none;
      padding: $unit-lrg;
      text-align: center;
      &.visible { display: block; }
  }

  //////// INDIVIDUAL PROJECTS ///////////

  .project-entry header {
    margin-top: 0;
  }
  .project-entry .project-meta {
    display: flex;
    flex-wrap: wrap;
    gap: $unit-med;
    justify-content: center;

    h1 { 
      flex-basis: 100%;
      margin-bottom: $unit-med;
     }

    .project-type {
      background-color: var(--primary);
      color: $light;
      text-transform: uppercase;
      line-height: 1;
      padding: $unit-sml;
      transform:translateY(-0.25rem);
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0 0 0 $unit-lrg;
    }

    li { 
      text-transform: capitalize;
      margin-right: $unit-sml;

      &:after {
        content: "|";
        margin-left: $unit-sml;
        color: var(--element-subtle);
      }
      &:last-of-type:after { 
        content: "";
        margin-left: 0;
       }

     }
  }

  @include breakpoint(lrg) {

    $project-margin: 5rem;

    .project-entry header img {
      object-fit: cover;
      margin: 0 auto;
    }

    .project-entry header {
      position: relative;
      margin-bottom: $project-margin + $unit-lrg;

      .page-title { text-align: left; }
      .project-meta {
        justify-content: flex-start;
        position: absolute;
        bottom: -$project-margin;
        left: -$unit-med;
        width: 75%;
        background-color: var(--surface);
      }
    } 
  }

