// COLOR
$paper: #FDF6EB;
$light: #fffdf9;
$dark: #2D272C;
$gray: #dbd6d2;
$light-gray: #E5E5E5;
$dark-gray: #a29b9b;
$extra-dark-gray: #575353;
$primary: #B4422B;
$primary-light: lighten($primary, 20%);
$primary-dark: darken($primary, 5%);
$secondary: #2B9DB4;
$secondary-light: lighten($secondary, 40%);
$secondary-dark: darken($secondary, 15%);
$tertiary: #8F3C7E;
$tertiary-light: lighten($tertiary, 30% );
$tertiary-dark: darken($tertiary, 5%);
$accent: #41A491;

/* Define dark and light palettes with CSS variables */

/* Light Mode */
:root[color-mode="light"] {
  --surface: #{ $paper };
  --surface-emphasis: #{ $light };
  --surface-shadow: #{ scale-color($paper, $lightness: -5%, $saturation: -50%) };
  --element: #{ $dark };
  --element-subtle: #{ $gray };

  --primary: #{ $primary };
  --primary-soft: #{ $primary-light };
  --primary-emphasis: #{ $primary-dark };

  --secondary: #{ $secondary };
  --secondary-soft: #{ $secondary-light };
  --secondary-emphasis: #{ $secondary-dark };

  --tertiary: #{ $tertiary };
  --tertiary-soft: #{ $tertiary-light };
  --tertiary-emphasis: #{ $tertiary-dark };

  --accent: #{ $accent };
  --link-color: #{ $primary };
}

/* Dark Mode */
:root[color-mode="dark"] {
  --surface: #{ $dark };
  --surface-emphasis: #{ $extra-dark-gray };
  --surface-shadow: #{ darken($dark, 5%) };
  --element: #{ $paper };
  --element-subtle: #{ $extra-dark-gray };

  --primary: #{ darken($primary, 5%) };
  --primary-soft: #{ $primary-dark };
  --primary-emphasis: #{ $primary-light };

  --secondary: #{ darken($secondary, 5%) };
  --secondary-soft: #{ $secondary-dark };
  --secondary-emphasis: #{ $secondary-light };

  --tertiary: #{ $tertiary };
  --tertiary-soft: #{ $tertiary-dark };
  --tertiary-emphasis: #{ $tertiary-light };

  --accent: #{ darken($accent, 5%) };
  --link-color: #{ $secondary-light };
}

// BASE COLORS
body {
  background-color: var(--surface);
  color: var(--element);
}

// TYPOGRAPHY 
$body-font: Overpass, Helvetica, sans-serif;
$header-font: Rubik, Helvetica, sans-serif;
$mono-font: Overpass Mono, Inconsolata, Consolas, monospace;
$ratio: 1.25;  // Major third
$base-font-size: 18px;
$small-font-size: 16px;
$h6-size: $base-font-size;
$h5-size: $base-font-size * $ratio;
$h4-size: $h5-size * $ratio;
$h3-size: $h4-size * $ratio; 
$h2-size: $h3-size * $ratio;
$h1-size: $h2-size * $ratio;
$jumbo-size: $h1-size * $ratio;

// LAYOUT
$unit-xsml: 0.25rem;
$unit-sml: .5rem;
$unit-med: 1rem;
$unit-lrg: 3rem;
$unit-xl: 6rem;
$unit-xxl: 9rem;
$unit-xxxl: 18rem;
$global-border: $unit-sml;
$shadow: 1px 1px 6px rgba(0,0,0,0.15);

$article-width: min(60ch, 720px);
$wide-width: 90ch;
$align-wide: $unit-lrg calc(15% - 15vw);

// BREAKPOINTS
$breakpoint-med: 725px;
$breakpoint-lrg: 1000px;
$breakpoint-xl: 1600px;

@mixin breakpoint($point) {
  @if $point == med {
    @media(min-width: $breakpoint-med) { @content; }
  } 
  @if $point == lrg {
    @media(min-width: $breakpoint-lrg) { @content; }
  } 
  @if $point == xl {
    @media(min-width: $breakpoint-xl) { @content; }
  } 
}

// Helper variable
body {
  --screensize: "sml";
  @include breakpoint(med) { --screensize: "med"; }
  @include breakpoint(lrg) { --screensize: "lrg"; }
}

// BUTTONS
button, .button {
  background-color: $primary;
  color: $light;
  max-width: 20ch;
  border: none;
  padding: $unit-sml $unit-med;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s;
  &:hover {
    opacity: 0.85;
  }
  &:focus-visible {
    border: 3px solid var(--tertiary);
  }

  &.shadow-button {
    box-shadow: 5px 5px var(--element);
    &:active {
      box-shadow: 0px 0px var(--element);
      transform: translate(5px, 5px);
    }
  }
}
.icon-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1em;
  
  img { 
    width: 1.5em;
    margin-right: 0.25em;
   }
}

a.button:hover {
  color: $light !important;
}
.button-lrg {
  padding: 0.75rem $unit-med;
  font-size:$h5-size;
}
