body {
    font-family: $body-font;
    font-size: $base-font-size;
    @include breakpoint(xl) {
        font-size: 20px;
    }
}

h1, h2, h3, h4, h5, h6 {
 font-family: $header-font;
 line-height: 1;
}


h1 { font-size: $h2-size; margin-bottom: $h1-size; }
h2 { font-size: $h2-size; margin-bottom: $h2-size; margin-top: $h2-size; }
h3 { font-size: $h3-size; margin-bottom: $h3-size; margin-top: $h3-size; }
h4 { font-size: $h4-size; margin-bottom: $h4-size; margin-top: $h4-size; }
h5 { font-size: $h5-size; margin-bottom: $h5-size; margin-top: $h5-size; }
h6 { font-size: $h6-size; margin-bottom: $h6-size; margin-top: $h6-size; }
@include breakpoint(med) {
    h1 { font-size: $h1-size; margin-bottom: $h1-size;  }
}

a {
    text-decoration: none;
    color: var(--link-color);;
    font-weight: bold;
    &:hover {
        color: $primary-dark;
    }
}

p {
    margin-bottom: $unit-med;
    line-height: 1.6;
}

ul, ol {
    margin-left: 1em;
    line-height: 1.25;
    li { margin-bottom: .25rem; }
}

ul { list-style: square; }

article {
    @include breakpoint(xl) {
        font-size: $base-font-size * $ratio;
    }
}

// DARK MODE
:root[color-mode="dark"] {
    a { color: var(--secondary-emphasis); }
    a:hover { color: var(--secondary); }

    p, time, span, ul, ol { color: $light-gray; }

    button, .button { color: var(--element); }
}

article blockquote {
    padding: 0 $unit-med;
    margin-top: $unit-lrg;
    border-left: $unit-sml solid var(--element);

    p { 
        font-size: $h4-size; 
        line-height: $ratio;
    }
}

p code {
    background: var(--element);
    color: var(--surface);
    padding: 0.25rem 0.35rem;
    margin: 0 .25rem;
}