<li class="project card {{ post.data.project_type }} 
  {% for item in post.data.media %}
    {{ item }}
  {% endfor %}
">

      {# HEADER #}
      <ul class="project-meta">
        {# TYPE #}
        <li>{{ post.data.project_type }}</li>

        {# LOCATION #}
        <li>{{ post.data.location }}, </li>

        {# YEAR #}
        <li><time class="post-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | yearOnly }}</time></li>

      </ul>

      {# IMAGE #}
      <a href ="{{ post.url | url }}"><img class="featured-image" src="{{ post.data.featured_image}}" alt="{{ post.data.featured_alt }}"></a>

      <div class="project-text">
      
        {# TITLE #}
        {% if post.data.project_type.includes("life") %}
            <h2>{{ post.data.title }}</h2>
        {% else %}
            <a class="post-title" href="{{ post.url | url }}"><h2>{{ post.data.title }}</h2></a>
        {% endif %}

        {# MEDIA #}
        <p class="media-list">
           {% set comma = joiner("/") %}
           {% for item in post.data.media %}
              {{ comma() }} {{ item | capitalize }}
          {% endfor %}
        </p>
       

        {# DESCRIPTION #}
        <span class="post-description">{{ post.data.description }}</span>

      </div>

    </li>